Repository haflidif/azureviking-blog: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,astro,svelte}'
      run: npx eslint {staged_files} --fix
      stage_fixed: true

    format:
      glob: '*.{js,ts,astro,svelte,json,css,md}'
      run: npx prettier --write {staged_files}
      stage_fixed: true

pre-push:
  commands:
    type-check:
      run: npm run check

    lint-all:
      run: npm run lint

feat: reactive theme banner using Svelte MutationObserver
  src/components/ThemeBanner.svelte
  src/pages/index.astro
Due: lint, format

fix: add explicit type annotation for appearances map parameter
  src/lib/types/content.ts
Due: lint, format

fix: improve mobile banner zoom with scale transform
  src/components/ThemeBanner.svelte
Due: lint, format

feat: replace PNG banners with responsive CSS-based hero banner
  site/assets/azure_viking_banner_dark_mode.png
  site/assets/azure_viking_banner_light_mode.png
  src/components/HeroBanner.astro
  src/components/ThemeBanner.svelte
  src/pages/index.astro
Due: lint, format

revert: restore PNG banners with max-width cap, hidden on mobile
  site/assets/azure_viking_banner_dark_mode.png
  site/assets/azure_viking_banner_light_mode.png
  src/components/HeroBanner.astro
  src/components/ThemeBanner.svelte
  src/pages/index.astro
Due: lint, format

chore: update site title to Azureviking | Haflidi's Technical Insights
  site/config.ts
  src/pages/index.astro
Due: lint, format

style: split header branding - Azure/Viking colors + subtitle
  src/components/Header.svelte
Due: lint, format

chore: add theme credits and GitHub Copilot attribution to footer
  src/components/Footer.astro
Due: lint, format

style: increase footer credits and disclaimer text to 12px
  src/components/Footer.astro
Due: lint, format

style: replace header logo with viking head logo
  site/assets/azure_viking_head_logo.png
  src/components/Header.svelte
Due: lint, format

style: increase header logo size slightly
  src/components/Header.svelte
Due: lint, format

fix: bump hamburger menu breakpoint from lg to xl to prevent nav overlap
  src/components/Header.svelte
Due: lint, format

style: larger footer credits text (14px) with red heart
  src/components/Footer.astro
Due: lint, format

fix: use consistent profile photo and config-driven name
  src/components/BioCard.astro
  src/pages/about.astro
Due: lint, format

feat: update profile picture to profile_ms.jpg
  site/assets/profile_ms.jpg
  src/components/BioCard.astro
  src/pages/about.astro
Due: lint, format

feat: add view counter component (Cloudflare Workers + KV)
  site/config.ts
  src/components/ViewCounter.svelte
  src/pages/posts/[...slug]/index.astro
Due: lint, format

feat: enable view counter with Cloudflare Worker API
  site/config.ts
Due: lint, format

fix: deduplicate view counts using localStorage
  src/components/ViewCounter.svelte
Due: lint, format

fix: match WordPress URL slugs for SEO preservation
  site/content/posts/advanced-security-features-microsoft-authenticator.md
  site/content/posts/azure-managed-devops-pools.md
  site/content/posts/feitian-fido2-security-key-review.md
  site/content/posts/first-time-public-speaking.md
  site/content/posts/privileged-access-groups.md
  site/content/posts/review-biopass-fido2-k49.md
  site/content/posts/review-pone-biometrics-offpad.md
  site/content/posts/saying-goodbye-to-the-microsoft-mvp-program.md
  site/content/posts/terraform-module-azure-dns-private-resolver.md
  site/content/posts/terraform-module-azure-network.md
  site/content/posts/terraform-module-azurerm-alz-subnet.md
  site/content/posts/welcome-to-my-new-site.md
Due: format

refactor: rename /posts/ route to /post/ for WordPress SEO compatibility
  .wrangler/state/v3/kv/100fce395ee6418e88e5943994cc2a04/blobs/2f63c410276530e67cb7a5eb5a3e0729e6c96d8d99a34ee5aef18fe91b2be1e30000019c8e646f8d
  .wrangler/state/v3/kv/100fce395ee6418e88e5943994cc2a04/blobs/5f3f205120edd6af763e99e039aba798cd99e12696e99b1f467ba34208705d9e0000019c8e64a37b
  .wrangler/state/v3/kv/100fce395ee6418e88e5943994cc2a04/blobs/6712b734a303abeee8ac99df485024d5ae1b4ca72f40849b85755387d319ece10000019c8e64802a
  .wrangler/state/v3/kv/100fce395ee6418e88e5943994cc2a04/blobs/77adaad516727444039effb88b7fae99ed1683d92c046edef5658206e4609cf00000019c8e648cb6
  .wrangler/state/v3/kv/100fce395ee6418e88e5943994cc2a04/blobs/790a5e5b1b0e4c71ac5aeb2c9d0fe6774a2e75e33aa8cefe45a88d18b79acd290000019c8e64688f
  .wrangler/state/v3/kv/100fce395ee6418e88e5943994cc2a04/blobs/90ff88c0977879e061d53bbf33be4ef49ceb4b30a5afca8e92d343f9450a224d0000019c8e64b04a
  .wrangler/state/v3/kv/100fce395ee6418e88e5943994cc2a04/blobs/9a45f23363d16ebf36d5b8a1dfc3f7ef5f5ce52db21b13bb6359086c62429e4e0000019c8e648681
  .wrangler/state/v3/kv/100fce395ee6418e88e5943994cc2a04/blobs/a84fb53782df62ab036500c9ccfdaa980afe2adb81bede52c2e4fc72bafd40ca0000019c8e651335
  .wrangler/state/v3/kv/100fce395ee6418e88e5943994cc2a04/blobs/c9f2c3de0da2bf3e004a7e030fdb3f7d67125a8d2bf6d11f7a392e38fffd3f5a0000019c8e64b9f7
  .wrangler/state/v3/kv/100fce395ee6418e88e5943994cc2a04/blobs/e66277db41a87ae115d6fe4397a36b4807c16917630156cda19aefd3bc61c9410000019c8e64761b
  .wrangler/state/v3/kv/100fce395ee6418e88e5943994cc2a04/blobs/ed8c51248ccc462c72eb0a9998b7b4b89d6ea99b74e0efe0ac289aa0dfeede740000019c8e649d1a
  .wrangler/state/v3/kv/100fce395ee6418e88e5943994cc2a04/blobs/ef35fb1e42c156546ee17f678d198f0a380747c7349712ef73afb64631627c0c0000019c8e64932f
  .wrangler/state/v3/kv/miniflare-KVNamespaceObject/0bc8e2bc7fb48b800f041bd9ec999afceeb7e6b92ecd5a0009984f8e95ac3723.sqlite
  .wrangler/state/v3/kv/miniflare-KVNamespaceObject/0bc8e2bc7fb48b800f041bd9ec999afceeb7e6b92ecd5a0009984f8e95ac3723.sqlite-shm
  .wrangler/state/v3/kv/miniflare-KVNamespaceObject/0bc8e2bc7fb48b800f041bd9ec999afceeb7e6b92ecd5a0009984f8e95ac3723.sqlite-wal
  site/content/appearances/azure-networking-deep-dive.md
  site/content/appearances/introduction-to-azure-managed-devops-pools.md
  site/content/posts/review-biopass-fido2-k49.md
  src/components/FeaturedCarousel.svelte
  src/components/Header.svelte
  src/components/LanguageSelector.svelte
  src/components/PostCard.svelte
  src/components/PostCardTile.svelte
  src/components/RelatedPosts.astro
  src/components/SearchDialog.svelte
  src/components/SeriesNavigation.astro
  src/lib/components/Header.astro
  src/lib/types/content.ts
  src/pages/404.astro
  src/pages/post/[...slug]/index.astro
  src/pages/post/index.astro
  src/pages/post/tag/[tag]/index.astro
  src/pages/rss.xml.ts
Due: lint, format

feat: add LinkedIn auto-post automation for new blog posts
  .github/scripts/linkedin-auth-helper.mjs
  .github/scripts/linkedin-post.mjs
  .github/workflows/linkedin-post.yml
  .github/workflows/linkedin-token-refresh.yml
Due: none

fix: use LinkedIn Consumer UGC API for personal profile posting
  .github/scripts/linkedin-post.mjs
Due: none

feat: personalized LinkedIn post templates with contextual intros
  .github/scripts/linkedin-post.mjs
Due: none

fix: handle inline YAML arrays, skip disclaimers in excerpt, add dry-run mode
  .github/scripts/linkedin-post.mjs
Due: none

fix: OG image URLs missing base path for LinkedIn/social previews
  site/config.ts
  src/pages/post/[...slug]/index.astro
Due: lint, format

docs: replace Spaceship theme README/CHANGELOG with AzureViking blog docs
  CHANGELOG.md
  README.md
  package.json
Due: format

chore: remove Spaceship theme FUNDING.yml and issue templates
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: format

chore: rename default branch from master to main
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/linkedin-post.yml
Due: none

feat: add Copilot instructions and blog-writer agent
  .github/copilot-instructions.md
  .github/copilot/agents/blog-writer.md
Due: format

feat: enrich blog-writer agent with M365 writing style analysis
  .github/copilot/agents/blog-writer.md
Due: format

feat: add LinkedIn data export and writing style analyzer scripts
  .github/scripts/analyze-writing-style.mjs
  .github/scripts/linkedin-data-export.mjs
Due: none

fix: improve export script messaging when data is still processing
  .github/scripts/linkedin-data-export.mjs
Due: none

fix: harden LinkedIn workflows against secret leakage
  .github/scripts/linkedin-post.mjs
  .github/workflows/linkedin-post.yml
  .github/workflows/linkedin-token-refresh.yml
Due: none

feat: add Copilot CLI demo video for blog post
  site/assets/images/posts/redesigning-blog-with-copilot/copilot-start.mp4
Due: none

feat: add cover photo for blog migration post
  site/assets/images/posts/redesigning-blog-with-copilot/cover.jpg
Due: none

feat: update cover photo, video, and blog post draft
  site/assets/images/posts/redesigning-blog-with-copilot/copilot-start.mp4
  site/assets/images/posts/redesigning-blog-with-copilot/cover.jpg
  site/content/posts/redesigning-my-blog-with-github-copilot-from-wordpress-to-astro.md
Due: format

fix: trim extra 0.5s from start of demo video
  site/assets/images/posts/redesigning-blog-with-copilot/copilot-start.mp4
Due: none

feat: custom LinkedIn post text and frontmatter parser fix
  .github/scripts/linkedin-post.mjs
  site/assets/images/posts/redesigning-blog-with-copilot/cover.jpg
  site/content/posts/redesigning-my-blog-with-github-copilot-from-wordpress-to-astro.md
Due: format

fix: update LinkedIn post opening with blog reboot context
  site/content/posts/redesigning-my-blog-with-github-copilot-from-wordpress-to-astro.md
Due: format

fix: remove LinkedIn auto-posting mentions from blog post and social text
  site/content/posts/redesigning-my-blog-with-github-copilot-from-wordpress-to-astro.md
Due: format
