Repository haflidif/azureviking-blog: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,astro,svelte}'
      run: npx eslint {staged_files} --fix
      stage_fixed: true

    format:
      glob: '*.{js,ts,astro,svelte,json,css,md}'
      run: npx prettier --write {staged_files}
      stage_fixed: true

pre-push:
  commands:
    type-check:
      run: npm run check

    lint-all:
      run: npm run lint

feat: enrich blog-writer agent with LinkedIn writing analysis
  .github/copilot/agents/blog-writer.md
Due: format

fix: update LinkedIn post, remove twist reveal, add line breaks
  site/content/posts/redesigning-my-blog-with-github-copilot-from-wordpress-to-astro.md
Due: format

chore: move blog post draft to branch for safekeeping
  site/assets/images/posts/redesigning-blog-with-copilot/copilot-start.mp4
  site/assets/images/posts/redesigning-blog-with-copilot/cover.jpg
  site/content/posts/redesigning-my-blog-with-github-copilot-from-wordpress-to-astro.md
Due: format

feat: switch to custom domain azureviking.com
  .github/copilot-instructions.md
  .github/copilot/agents/blog-writer.md
  .github/scripts/linkedin-post.mjs
  .github/workflows/linkedin-post.yml
  README.md
  site/assets/CNAME
  site/config.ts
  site/content/appearances/azure-networking-deep-dive.md
  site/content/appearances/introduction-to-azure-managed-devops-pools.md
  site/content/posts/advanced-security-features-microsoft-authenticator.md
  site/content/posts/feitian-fido2-security-key-review.md
  site/content/posts/first-time-public-speaking.md
  site/content/posts/privileged-access-groups.md
  site/content/posts/review-biopass-fido2-k49.md
  site/content/posts/review-pone-biometrics-offpad.md
  site/content/posts/saying-goodbye-to-the-microsoft-mvp-program.md
  site/content/posts/terraform-module-azure-dns-private-resolver.md
  site/content/posts/terraform-module-azure-network.md
  site/content/posts/welcome-to-my-new-site.md
Due: lint, format

fix: resolve double-slash routing with custom domain
  astro.config.mjs
  site/config.ts
  src/layouts/Layout.astro
Due: lint, format

feat: add approval gate to LinkedIn auto-poster
  .github/workflows/linkedin-post.yml
Due: none

feat: add LinkedIn post preview before approval
  .github/workflows/linkedin-post.yml
Due: none

feat: publish blog migration post
  site/assets/images/posts/redesigning-blog-with-copilot/copilot-start.mp4
  site/assets/images/posts/redesigning-blog-with-copilot/cover.jpg
  site/content/posts/redesigning-my-blog-with-github-copilot-from-wordpress-to-astro.md
Due: format

fix: remove double-slash in OG image schema URLs
  site/config.ts
Due: lint, format

fix: use cover photo as OG image for social previews
  src/pages/post/[...slug]/index.astro
Due: lint, format

chore: add hashtags to LinkedIn social_text
  site/content/posts/redesigning-my-blog-with-github-copilot-from-wordpress-to-astro.md
Due: format

feat: LinkedIn image upload, content gate, socialImage field
  .github/scripts/linkedin-post.mjs
  .github/workflows/linkedin-post.yml
  src/content.config.ts
Due: lint, format

feat: add image-toolkit skill, unfeature old reviews
  .github/skills/image-toolkit/SKILL.md
  site/content/posts/review-biopass-fido2-k49.md
  site/content/posts/review-pone-biometrics-offpad.md
Due: format

fix: format linkedin-post.mjs, add format-check to pre-push
  .github/scripts/linkedin-post.mjs
  lefthook.yml
Due: none

feat: newsletter subscribe, mobile UI polish, banner centering
  site/assets/azure_viking_banner_dark_mode.png
  site/assets/azure_viking_banner_light_mode.png
  site/config.ts
  src/components/Footer.astro
  src/components/Header.svelte
  src/components/SubscribeForm.astro
  src/components/ThemeBanner.svelte
  src/components/ThemeToggle.svelte
  src/pages/subscribe.astro
Due: lint, format

fix: remove empty projects collection to suppress warning
  src/content.config.ts
  src/pages/index.astro
  src/pages/projects.astro
  src/pages/projects/[slug]/index.astro
Due: lint, format

fix: heading anchors and TOC hash prefix
  src/components/TableOfContents.svelte
  src/layouts/Layout.astro
Due: lint, format

fix: include full path in TOC anchor URLs
  src/components/TableOfContents.svelte
Due: lint, format

feat: newsletter automation via EmailOctopus API
  .github/scripts/newsletter-post.mjs
  .github/workflows/newsletter-post.yml
  docs/newsletter-setup.md
  docs/newsletter-template.html
Due: format

chore: remove manual approval from newsletter workflow
  .github/workflows/newsletter-post.yml
Due: none

feat: add copilot-thinking styled block for blog posts
  .github/scripts/newsletter-post.mjs
  docs/newsletter-template.html
  src/styles/global.css
Due: format

feat: add LinkedIn and Bluesky share buttons
  src/components/SocialShare.svelte
Due: lint, format

fix: use official Bluesky butterfly logo icon
  src/components/SocialShare.svelte
Due: lint, format

fix: make Bluesky icon outline-style like other share icons
  src/components/SocialShare.svelte
Due: lint, format

chore: reorder share buttons - LinkedIn, Bluesky, X first
  src/components/SocialShare.svelte
Due: lint, format

feat: publish Copilot CLI series Part 1 - Image Resizing
  site/assets/images/posts/github-copilot-cli-image-resizing/copilot-cli-banner.mp4
  site/assets/images/posts/github-copilot-cli-image-resizing/cover.jpg
  site/assets/images/posts/github-copilot-cli-image-resizing/original-1586x398.jpeg
  site/assets/images/posts/github-copilot-cli-image-resizing/step1-stretched-1128x191.jpeg
  site/assets/images/posts/github-copilot-cli-image-resizing/step2-cropped-1128x191.jpeg
  site/assets/images/posts/github-copilot-cli-image-resizing/step3-scaled-1128x191.jpeg
  site/assets/images/posts/github-copilot-cli-image-resizing/step4-final-1128x191.jpeg
  site/content/posts/github-copilot-cli-more-than-just-code.md
Due: format

fix: ensure article URL is always included in LinkedIn post text
  .github/scripts/linkedin-post.mjs
Due: none

feat: add Playwright visual preview for PRs
  .github/scripts/pr-screenshots.mjs
  .github/workflows/pr-preview.yml
  .gitignore
  package.json
  pnpm-lock.yaml
Due: format

chore: update Squad agent histories with correct content paths
  .github/workflows/squad-heartbeat.yml
  .squad-templates/workflows/squad-heartbeat.yml
  .squad/agents/bragi/history.md
  .squad/agents/heimdall/history.md
  .squad/agents/idunn/history.md
  .squad/agents/vidar/history.md
  .squad/decisions.md
  .squad/log/2026-03-02T15-38-test-blog-post.md
  .squad/orchestration-log/2026-03-02T15-38-bragi.md
Due: format

squad: log Idunn cover image generation for testing-rbac-configurations-locally
  .squad/agents/idunn/history.md
  .squad/log/2026-03-02T16-23-idunn-cover-image.md
  .squad/orchestration-log/2026-03-02T16-23-idunn.md
Due: format

chore: squad session log and orchestration (Bragi+Idunn collaboration test)
  .squad/agents/bragi/history.md
  .squad/agents/idunn/history.md
  .squad/decisions.md
  .squad/log/2026-03-02T16-32-conference-summary-collab.md
  .squad/orchestration-log/2026-03-02T16-32-bragi.md
  .squad/orchestration-log/2026-03-02T16-32-idunn.md
Due: format

fix: subscribe modal works from both desktop and mobile buttons
  src/components/Footer.astro
  src/components/Header.svelte
Due: lint, format

docs: Scribe merge — Vidar subscribe modal fix, decision log
  .squad/agents/vidar/history.md
  .squad/decisions.md
  .squad/log/2026-03-02T18-20-subscribe-fix.md
  .squad/orchestration-log/2026-03-02T18-20-vidar.md
Due: format

fix: replace EmailOctopus embed with custom fetch POST form in subscribe modal
  .squad/agents/vidar/history.md
  .squad/decisions/inbox/vidar-subscribe-modal-v2.md
  src/components/Footer.astro
Due: lint, format

fix: use real EmailOctopus embed in subscribe modal
  .squad/agents/vidar/history.md
  .squad/decisions/inbox/vidar-emailoctopus-real-embed.md
  src/components/Footer.astro
Due: lint, format

fix: use separate EmailOctopus form for subscribe modal
  .squad/agents/vidar/history.md
  .squad/decisions/inbox/vidar-dual-emailoctopus-forms.md
  site/config.ts
  src/components/Footer.astro
Due: lint, format

fix: use button for subscribe to prevent ClientRouter interception
  src/components/Header.svelte
Due: lint, format

chore: add copilot instructions from awesome-copilot
  .github/copilot/instructions/a11y.instructions.md
  .github/copilot/instructions/astro.instructions.md
  .github/copilot/instructions/github-actions-ci-cd-best-practices.instructions.md
  .github/copilot/instructions/markdown.instructions.md
  .github/copilot/instructions/svelte.instructions.md
Due: format

docs: add code quality expectations to copilot instructions
  .github/copilot-instructions.md
Due: format
